
<div class="container">
    <div style="text-align: center;">
        <h1><%= user.name %></h1>
        <h1><%= user.email %></h1>
        <h1><%= user.date.toDateString() %></h1>
        <button><a href="/users">View All users</a></button>
    </div>
</div>
